.Mainpage {
    justify-content: center;
    text-align: center;
    align-content: center;
}

body {
    /* background-image: url("../2022_06_25_0mv_Kleki.png");
    background-repeat: no-repeat; */
    background: rgb(212, 246, 212);
}